<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grid Expander Demo</title>
		<!-- general styles for expander grid -->
		<link type="text/css" rel="stylesheet" href="expander-grid.css">
		<!-- demo styles -->
		<link type="text/css" rel="stylesheet" href="eg-demo-styles.css">

	</head>
	<body>
		<h1>Expander Grid Demo</h1>

		<div class="grid-content">

			<!-- Sports Category -->
			<h3 class="category-title">Sports</h3>

			<ul class="eg-grid">
				<li
					data-img="http://lorempixel.com/output/sports-q-c-640-480-7.jpg"
					data-title="Swimming"
					data-subtitle="Diving"
					data-description="<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/sports-q-c-640-480-7.jpg">
							</div><!-- .eg-thumb -->
							<span>Diving</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/sports-q-c-640-480-4.jpg"
					data-title="Surfing"
					data-subtitle="Hang 10 Dude"
					data-description="<p>Lorem Ipsum is simply <strong>dummy text</strong> of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/sports-q-c-640-480-4.jpg">
							</div><!-- .eg-thumb -->
							<span>SurFing</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/sports-q-c-640-480-5.jpg"
					data-title="Dirt Biking"
					data-subtitle="Kickin It"
					data-description="<p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting</strong> industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/sports-q-c-640-480-5.jpg">
							</div><!-- .eg-thumb -->
							<span>Drrrt Biking</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/sports-q-c-640-480-1.jpg"
					data-title="Cricket"
					data-subtitle="Sunrise"
					data-description="<p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/sports-q-c-640-480-5.jpg">
							</div><!-- .eg-thumb -->
							<span>Krickit</span>
						</a>
				</li>
			</ul>

			<!-- Cats Category -->
			<h3 class="category-title">Cats</h3>
			<ul class="eg-grid">
				<li
					data-img="http://lorempixel.com/output/cats-q-c-640-480-1.jpg"
					data-title="Cat 1"
					data-subtitle="Blondish"
					data-description="<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/cats-q-c-640-480-7.jpg">
							</div><!-- .eg-thumb -->
							<span>Diving</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/cats-q-c-640-480-7.jpg"
					data-title="Sunshine Kat"
					data-subtitle="Hang 10 Dude"
					data-description="<p>Lorem Ipsum is simply <strong>dummy text</strong> of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/cats-q-c-640-480-1.jpg">
							</div><!-- .eg-thumb -->
							<span>Sunshine Kat</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/cats-q-c-640-480-2.jpg"
					data-title="Fang"
					data-subtitle="Not Happy"
					data-description="<p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting</strong> industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/cats-q-c-640-480-2.jpg">
							</div><!-- .eg-thumb -->
							<span>Faaaang</span>
						</a>
				</li>
				<li
					data-img="http://lorempixel.com/output/cats-q-c-640-480-9.jpg"
					data-title="Whatchu Lukin AT?"
					data-subtitle="Huh?"
					data-description="<p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>"
					>
						<a href="#" class="eg-clicker">
							<div class="eg-thumb">
								<img src="http://lorempixel.com/output/cats-q-c-640-480-9.jpg">
							</div><!-- .eg-thumb -->
							<span>Huh?</span>
						</a>
				</li>
			</ul>
		</div><!-- .grid-content -->

		<!-- Grid Item Template -->
		<script type="text/html" id="grid_item">
			<div class="eg-expander">
				<div class="eg-expander-inner">
					<% if (img) { %>
						<img src="<%= img %>">
					<% } %>
					<a href="#" class="eg-close">close</a>
						<div class="grid_6 omega contents">
							<h1><%= title %></h1>
							<h2><%= subtitle %></h2>
							<p><%= description %></p>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="expander-grid.js"></script>
		<script>
			jQuery(document).ready(function($){
				$('.eg-grid').expanderGrid({
					'template': 'grid_item',
					'item': 'li',
					'clicker': 'a.eg-clicker',
					'closer': 'a.eg-close',
					'expandedClass': 'eg-expanded',
					// "this" will be reference to Expander where
					//   - this.$item is .eg-grid > li
					//   - this.$elem is .eg-grid > li > div.eg-expander
					'onOpen': function(){
						console.log('onOpen', this);
					},
					'onClose': function(){
						console.log('onClose', this);
					}
				});
			});
		</script>

	</body>
</html>
